@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/*
 * IMPORTANT: Always scope your custom styles under #pok-payment-container
 * This ensures your styles don't conflict with other components
 */

/* Example: Change the primary button color */
/*#pok-payment-container .pok-payment-button {*/
/*    background-color: #your-custom-color;*/
/*}*/

/*!* Example: Modify input field styles *!*/
/*#pok-payment-container .pok-payment-input {*/
/*    border-color: #your-custom-color;*/
/*    border-radius: 8px;*/
/*}*/

/*!* Example: Customize error message appearance *!*/
/*#pok-payment-container .pok-payment-error-message {*/
/*    background-color: #your-custom-color;*/
/*    border-color: #your-custom-color;*/
/*}*/
